<div class="row">
    <div class="col-xs-12">
        <form class="mx-auto col-md-6 col-lg-5 offset-md-3 profileform-box" [formGroup]="editForm"
            (ngSubmit)="onSubmit()">

            <h3 class="text-center mb-3 profile-title">User Profile</h3>

            <div class="row">
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Enter your email" formControlName="email" autofocus>
                    <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf=" f.email.touched && f.email.errors?.email">Invalid Email</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Enter your name" formControlName="name">
                    <mat-error *ngIf="f.name.touched && f.name.errors?.required">Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class=" row">
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Enter your Phone Number" formControlName="phone">
                    <mat-error *ngIf="f.phone.touched && f.phone.errors?.required">Phone Number is required</mat-error>
                </mat-form-field>
              </div>
            <div class=" row">
                <button class="mt-4 btn-block" type="submit" mat-raised-button color="primary"
                    [disabled]="editForm.invalid">Submit</button>
            </div>

        </form>
    </div>
</div>